ipython
jupyter
pandas
numpy
google-auth
python-dotenv
gitpython
json5
tqdm
sympy
matplotlib
docker
openai
numpy
bs4
selenium
tldextract
aiodocker
lzstring
playwright
playwright_stealth
aioboto3
unidecode
validators
inscriptis
tiktoken
pytesseract
dataclasses-json
aiofiles
dill
h8mail
curlify
w3lib
pydantic
chardet
pytrie
pydig
python-whois
aiohttp
httpx
diff-match-patch
langchain_community
langchain_text_splitters
llama_index
torch
transformers
pygtrie
fastapi[standard]
pyjwt